.main-page {
  background: #000;
}
.level-employees {
  padding: 0 20px;
  border-bottom: 1px solid #fff; //var(--main-text-color);
  height: 100%;

  .employee-card {
    background: transparent;
    max-width: 260px;

    .ant-card-head {
      padding: 0;
    }

    .employee-text {
      text-align: center;
      margin: 0;
      font-family: var(--main-font-family);
      font-weight: 500;

      &.employee-sum {
        color: #fff; //var(--main-text-color);
        font-size: 1.5rem;
      }

      &.employee-name {
        font-size: 1.5rem;
        color: #fff;
      }
    }

    .ant-card-cover {
      background: #cccccc;
      height: 260px;
    }

    .ant-card-body {
      padding: 12px;
    }
  }
}

.level-description {
  height: 100%;
  border-right: 1px solid #fff; //var(--main-text-color);
  border-bottom: 1px solid #fff; //var(--main-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: var(--main-font-family);

  h3,
  p {
    color: #fff;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
